body{
    
   margin:0;
   text-align: center;

}
h1{
    color: #645CAA;
    margin-top: 0;
}
h4{
    color:#A084CA;
    
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.top-container{
    padding-top: 100px;
    
font-family: 'Roboto Condensed', sans-serif;
padding-bottom: 30px;
background-color: #EBC7E8;
}
.skill-row{
    font-family: 'Courier New', Courier, monospace;
    color: #A084CA;
    display:inline-block;
    padding: 75px;
}
h2{
    color: #645CAA;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: #A084CA;
    font-weight: bolder;
    width: 75%;
    margin: auto;
    line-height: 2;
    letter-spacing: 1.25px;
}
.middle-container{
    margin-top: 70px;
}
hr{
    border: dotted #BFACE0 6px;
    border-bottom: none;
    width: 25%;
    margin: 100px auto;
}
.btn {
    background: #A084CA;
    background-image: -webkit-linear-gradient(top, #A084CA, #BFACE0);
    background-image: -moz-linear-gradient(top, #A084CA, #BFACE0);
    background-image: -ms-linear-gradient(top, #A084CA, #BFACE0);
    background-image: -o-linear-gradient(top, #A084CA, #BFACE0);
    background-image: linear-gradient(to bottom, #A084CA, #BFACE0);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Roboto Condensed',
        sans-serif;
    font-weight: normal;    
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height: 70px;
    width: 250px;
    display: inline-block;
    
    
}

.btn:hover {
    background: #645CAA;
    background-image: -webkit-linear-gradient(top, #645CAA, #A084CA);
    background-image: -moz-linear-gradient(top, #645CAA, #A084CA);
    background-image: -ms-linear-gradient(top, #645CAA, #A084CA);
    background-image: -o-linear-gradient(top, #645CAA, #A084CA);
    background-image: linear-gradient(to bottom, #645CAA, #A084CA);
    text-decoration: none;
}
.last-line{
    margin:50px auto ;
}
.bottom-container{
    background-color: #EBC7E8;
    margin-top: 50px ;
    padding: 50px 0px ;
    
   

}
.footer-link{
    color:#A084CA;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 40px;
   
    text-decoration: none;
}
.footer-link:hover{
    color: #645CAA;
}
#title{
    background-color: #F6F6F6;

}
#title a{
    font-family:'Roboto Condensed',sans-serif; 
    color:#A084CA !important;
    
    
        
}
.navbar-brand{
    padding-left: 10px;
}
.message{
    width: 50px ;
    height: 50px;
}
.nav-item{
    padding: 0 18px;
}
.toastmaster-image{
    margin-top: 30px;
    width:20%;
    height: 20%;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    
    background-size: 100%, 100%;
   
   
   
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color:  #A084CA;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #A084CA;
        
}
#carouselExampleFade{
    height: 350px;
}
h5{
    color: #A084CA;
    
        font-size: 1.2rem;
        font-family: 'Roboto Condensed', sans-serif;


}
.quote{
    margin-top: 120px;
}

.edu-text{
    font-family: 'Roboto Condensed',
        sans-serif;
    

}
.thapar-image {
    margin-bottom: 10px;
    width: 5%;
    height: 5%;

}

.dps-image{
    width: 5%;
    height: 5%;
}

.education{
   
    margin-bottom: 100px;
    
}
.hero-unit {
    height: 640px;
    background: url(https://static.pexels.com/photos/2884/building-vintage-bike-monument.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-unit h1,
.hero-unit h2,
.hero-unit h3,
.hero-unit h4,
.hero-unit h5,
.hero-unit h6 {
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: white;
}

.hero-unit h1 {
    font-weight: bold;
}

.hero-unit hgroup {
    margin: 3rem 0;
}

.hero-unit .card-icon {
    /* front of card */
    display: block;
    margin: 0.5rem auto 0;
    font-size: 2rem;
    color: white;
}

.hero-unit .clients {
    margin: 2rem auto;
}

.hero-unit .clients a {
    color: white;
}

.clients .fa-stack-2x {
    color: gray;
}

.clients:hover .fa-stack-2x {
    color: #333333;
}

/* Card design - front */
.button.large {
    margin: 0;
    padding: 3.25rem;
}

.button.large a {
    color: white;
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 2rem;
}

/* Card design - back */
.panel i {
    
    display: block;
    float: left;
    width: 20%;
    opacity: 0.5;
}

.panel a,
.panel p,
.panel small {
    width: 80%;
    float: right;
}

.panel a {
    margin-bottom: 0.5rem;
}

.panel a:hover {
    text-decoration: underline;
}

.panel small {
    margin-top: -0.5rem;
    font-style: italic;
}

/* Buttons Card Flipper 
 * Source: https://cssdeck.com/labs/rxcleo5w
 */
.flip-cards {
    float: left;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

.flip-cards li {
    float: left;
    width: 33.3%;
    height: 180px;
    position: relative;
    padding: 0;
}

.flip-cards li:hover {
    cursor: pointer;
}

.flip-cards li:hover .card-front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform: perspective(1000) rotateY(180deg);
    -moz-transform: perspective(1000) rotateY(180deg);
    -ms-transform: perspective(1000) rotateY(180deg);
    -o-transform: perspective(1000) rotateY(180deg);
    transform: perspective(1000) rotateY(180deg);
}

.flip-cards li:hover .card-back {
    z-index: 950;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform: perspective(1000) rotateY(0deg);
    -moz-transform: perspective(1000) rotateY(0deg);
    -ms-transform: perspective(1000) rotateY(0deg);
    -o-transform: perspective(1000) rotateY(0deg);
    transform: perspective(1000) rotateY(0deg);
}

.flip-cards .card-front,
.flip-cards .card-back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flip-cards .card-front {
    -webkit-transform: perspective(1000) rotateY(0);
    -moz-transform: perspective(1000) rotateY(0);
    -ms-transform: perspective(1000) rotateY(0);
    -o-transform: perspective(1000) rotateY(0);
    transform: perspective(1000) rotateY(0);
    z-index: 900;
}

.flip-cards .card-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 800;
}

/* Button Card Colors */
.flip-cards .panel {
    border: none;
}

.flip-cards .panel i,
.flip-cards .panel p,
.flip-cards .panel a,
.flip-cards .panel small {
    color: white;
}

/* First button color */
.flip-cards li:first-child>.button {
   background-color: #645CAA;
    
}

.flip-cards li:first-child>.panel {
    
    background-color:#645CAA;;
}

/* Second button color */
.flip-cards li:nth-child(2)>.button {
     
    background-color:#A084CA;
}

.flip-cards li:nth-child(2)>.panel {
    background-color: #A084CA;
}


/* Sixth (last) button color */
.flip-cards li:last-child>.button {
    background-color: #EBC7E8;
        
}

.flip-cards li:last-child>.panel {
    background-color: #EBC7E8;
        
    color: white;
}

/*
 * RESPONSIVENESS -------------------------------------------------
 */
@media only screen and (max-width: 40em) {
    .hero-unit {
        height: 800px;
    }

    .flip-cards li {
        width: 50%;
        /*height: 160px;*/
    }
}

@media only screen and (max-width: 30em) {
    .hero-unit h1 {
        font-size: 1.75rem;
    }

    .hero-unit h3 {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 25em) {
    .hero-unit {
        height: 920px;
    }

    .hero-unit hgroup {
        margin: 2rem 0;
    }

    .hero-unit h1 {
        font-size: 1.35rem;
        padding-bottom: 0.25rem;
    }

    .hero-unit h3 {
        font-size: 0.85rem;
    }

    .hero-unit .card-icon {
        font-size: 1.35rem;
    }

    .hero-unit .card-back .card-icon {
        font-size: 2rem;
        margin: 0;
        padding: 5px 0 20px 5px;
    }

    .flip-cards li {
        width: 100%;
        font-size: 1.35rem;
        height: 120px;
    }

    .flip-cards .panel p {
        display: none;
    }

    .flip-cards .panel small {
        margin: 0;
    }

    .button.large {
        padding: 2rem;
    }

    .button.large a {
        font-size: 1.35rem;
    }
}
h6{
    color:white;
    
        font-size: 1.2rem;
        font-family: 'Courier New',
            Courier,
            monospace;
        text-align: center;
        margin-top: 25px;
        font-weight:bold ;

}

.card-text{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-top: 25px;
    font-weight: bold;
    
}







